In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

# Answer :
my_string = "Chirag Prajapati"
my_list = [1,2.65,"python",1+2j,True]
a = 2.56
my_tuple = (1,2.34,"chirag",False,3+8j)

In [2]:
# Q2. Given are some following variables containing data:
#(i) var1 = ''
#(ii) var2 = '[DS, ML, Python]'
#(iii) var3 = ['DS', 'ML', 'Python']
#(iv) var4 = 1.
# What will be the data type of the above given variable.

# Anser: 
#     var1 is string
#     var2 is string
#     var3 is list
#     var4 is float

In [3]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# Anser:
#     (i) / is division operator it gives quotient when a number is divide by another number.
#     Example : value of (5/2) is 2.5
    
#     (ii) % is modulus operator it gives remainder when a number is divide by another number.
#     Example : value of (5 % 2) is 1
    
#     (iii) // is Floor division operator it gives only integer part of a quotient when a number is divide by another number.
#     Example : value of (5 // 2) is 2
    
#     (iv) ** is Exponentiation operator it gives the value of an expression when some power is written on the base number.
#     Example : value of ( 5**2 ) is 25

In [4]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

# Answer :
    
my_list = [1,48,6.89,9.352,"chirag",'prajapati',True,False,2+5j, 6j]
for i in my_list :
    print(i)
    print(type(i))

1
<class 'int'>
48
<class 'int'>
6.89
<class 'float'>
9.352
<class 'float'>
chirag
<class 'str'>
prajapati
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
(2+5j)
<class 'complex'>
6j
<class 'complex'>

In [15]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

#Answer :
A = 16
B = 2
count =0
while A>B :
    if A%B !=0 :
        break
    else :
        A = A/B
        count +=1
print(count, " times A is purely divisible by B" )

3  times A is purely divisible by B

In [7]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

# Answer : 
    
my_list =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in my_list :
    if i%3==0 :
        print(i, " is divisible by 3")
    else :
        print(i, " is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [13]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

# Answer :
#     if we can modify a variable with the help of it's index than it is mutable data type and if we can't modify a variable with 
#     the help of its index value then it is immutable.
    
#     Example :

#       my_str = "pwskills"
#       my_list = [1,"pw",5.76, True]
#       my_str[1] = 'x'
#       my_list[2] = 90
#         here line 3 will give error becuse string is immutable and we can't chage it after creating and in list we modify the values
#         because it is mutable.